@import '~node_modules/modern-normalize/modern-normalize.css';
@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;


  @media screen and (min-width: $tablet) {
    width: $tablet;
    max-width: 668px;

  }

  @media screen and (min-width: $desktop) {
    max-width: none;
    width: 1110px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  color: #fff;
  background-color: #000;
}