<section class="hero">
  <picture>
    <!-- <img srcset="./images/hero/hero-bg-mob-1x.jpg 1x, ./images/hero/hero-bg-mob-2x.jpg 2x" src="./images/hero/hero-bg-mob-1x.jpg" class="hero-image" alt=""> -->
  </picture>
  <h1 class="hero-title">FIND BEST EVENTS AROUND THE WORLD</h1>
  <div class="hero-inputs">
    <div action="" class="search-form">
      <input
        type="text"
        name="keyword"
        id="search-input"
        placeholder="Start searching"
      />
      <button type="submit" class="search-submit">icon</button>
    </div>
    <div class="countries-set">
      <input
        type="text"
        name=""
        id=""
        class="input-countries"
        placeholder="Choose country"
      />
      <button type="button" class="dropdown-countries">icon</button>
      <div class="countries-block"></div>
    </div>
  </div>
</section>