<section class="hero">
  <picture class="hero-picture">
    <source
      srcset="
        ./images/hero/hero-bg-desk-1x.jpg 1x,
        ./images/hero/hero-bg-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />
    <source
      srcset="
        ./images/hero/hero-bg-tab-1x.jpg 1x,
        ./images/hero/hero-bg-tab-2x.jpg 2x
      "
      media="(min-width: 595px)"
    />

    <img
      srcset="
        ./images/hero/hero-bg-mob-1x.jpg 1x,
        ./images/hero/hero-bg-mob-2x.jpg 2x
      "
      src="./images/hero/hero-bg-mob-1x.jpg"
      class="hero-image"
      alt=""
    />
  </picture>
  <h1 class="hero-title">FIND BEST EVENTS AROUND THE WORLD</h1>
  <div class="hero-inputs">
    <form action="" class="search-form">
      <input
        type="text"
        name="keyword"
        id="search-input"
        placeholder="Start searching"
      />
      <button type="submit" class="search-submit">
        <svg>
          <use href="./images/events-svg.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="countries-set">
      <input
        type="text"
        name=""
        id=""
        class="input-countries"
        placeholder="Choose country"
      />
      <button type="button" class="dropdown-countries">
        <svg>
          <use href="./images/events-svg.svg#icon-dropdown"></use>
        </svg>
      </button>
      <div class="countries-block"></div>
    </div>
  </div>
</section>