.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 78px 0 52px;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(11, 11, 11, 0.5);
    z-index: 0;
  }

  @media screen and (min-width: $tablet) {
    padding: 40px 0 136px;
  }

  @media screen and (min-width: $desktop) {
    padding: 40px 0 186px;
  }
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center bottom;
  max-height: 364px;
  z-index: -1;

  @media screen and (min-width: $desktop) {
    max-height: 545px;
  }
}
.hero-title {
  color: #DC56C5;
  font-weight: 900;
  text-align: center;
  font-size: 18px;
  max-width: 212px;
  letter-spacing: 0;
  line-height: 22px;

  @media screen and (min-width: $tablet) {
    max-width: 353px;
    font-size: 30px;
    line-height: 37px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 589px;
    font-size: 50px;
    line-height: 61px;
  }
}

.hero-inputs {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin-top: 25px;
  gap: 25px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    max-width: 570px;
    justify-content: center;
    margin-top: 27px;
    gap: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 52px;
  }
}

.hero-title,
.hero-inputs {
  position: relative;
  z-index: 1;
}



#search-input,
.input-countries {
  position: relative;
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  width: 270px;
  min-width: 190px;
  background: none;
  backdrop-filter: blur(20px);
  font-size: 16px;
  font-weight: 400;
  color: #939393;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-countries,
.search-submit {
  position: absolute;
  right: 30px;
  top: 15px;
  background: none;
  padding: 0;
}

.search-submit svg {
  width: 12px;
  height: 12px;
  fill: #939393;
}

.dropdown-countries svg {
  width: 15px;
  height: 10px;
  fill: #939393;
}

.countries-set,
.search-form {
  position: relative;
  border: none;
  border-radius: 20px;

  &:hover, &:focus {
    border: solid 1px #ff5bf7c4;
  }
}

.countries-block {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  display: none;
  max-height: 100px;
  border: 1px solid #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: none;
  backdrop-filter: blur(20px);
  overflow: auto;
  color: #939393;

  @media screen and (min-width: $desktop) {
    max-height: 270px;
  }
}

.fi {
  margin-right: 10px;
  border-radius: 15%;
}

.countries-set.is-open {
  .countries-block {
    display: block;
  }
  .input-countries {
    border: 1px solid #fff;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.country-item {
  padding: 5px 20px;
  cursor: pointer;
  border-top: 1px solid #fff;
}











