.hero,
.hero-inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #050505;
}

.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 304px;
  background-color: #46393941;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center bottom;
  max-height: 364px;
  z-index: 0;
}
.hero-title {
  color: #DC56C5;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  width: 212px;
}

.hero-inputs {
  display: flex;
  width: 85%;
  min-width: 190px;
  max-width: 270px;
  gap: 20px; 
  justify-content: center;
  position: relative;
  z-index: 5;
}

#search-input,
.input-countries {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: #ffffff31;
  color: aliceblue;
}

.dropdown-countries,
.search-submit {
  position: absolute;
  right: 30px;
  top: 15px;
}

.countries-set,
.search-form {
  position: relative;
}

.countries-block {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  display: none;
  max-height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2c2525;
  overflow: auto;
  color: #b9adad;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(226, 209, 209, 0.25);

  @media screen and (min-width: $desktop) {
    max-height: 270px;
  }
}

.countries-set.is-open {
  .countries-block {
    display: block;
    z-index: 10;
  }
  .input-countries {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.country-item {
  padding: 5px 20px;
  cursor: pointer;
  border-top: 1px solid black;
}
