.event-container {
  display: grid;
  gap: 40px 14px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.event-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 130px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.25s ease;

  &:hover {
    transform: translateY(-4px);
  }

  img {
    height: 160px;
    object-fit: cover;
    border-radius: 50px 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    right: -10px; 
    width: 110px;
    height: 100px;
    opacity: 0.3;
    border: 1px solid #dc56c5;
    border-radius: 50px 0 50px 0;
    pointer-events: none;
  }

  @media screen and (min-width: $tablet) {
    width: 180px;

    img {
      height: 225px;
    }

    &::before {
      width: 155px;
      height: 145px;
      top: -12px;
      right: -12px;
    }
  }
}

.event-title {
  color: #dc56c5;
  font-weight: 700;
  font-size: 14px;
}

.event-location {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.9;
}


.pagination {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination-btn {
  background-color: #e05ad1b5;
  color: #e7e2e2;
  border: 1px solid #ae5b5b;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover:not(:disabled) {
    background-color: #0c0000;
    border-color: #5650508d;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.pagination-btn,
.pagination-prev{
  background-color: #e05ad1b5;
  color: #e7e2e2;
  border: 1px solid #ae5b5b;
  padding: 8px 10px;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover:not(:disabled) {
    background-color: #0c0000;
    border-color: #5650508d;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.pagination-info {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.main-pag-svg{
  align-items: center;
  margin-top: 10px;
}

.no-results{
  color: #565050;
  font-size: 20px;
   width: 250px;
    padding: 30px 0 30px 20px;

  @media screen and (min-width: $tablet) {
    width: 500px;
    padding: 30px 0 30px 100px;
  }

  @media screen and (min-width: $desktop) {
    width: 700px;
    padding: 30px 0 30px 300px;
  }
}

.main-pag-p{
  padding: 0 7px;
}