.event-container {
  display: grid;
  gap: 40px 14px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.event-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 130px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.25s ease;

  &:hover {
    transform: translateY(-4px);
  }

  img {
    height: 160px;
    object-fit: cover;
    border-radius: 50px 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    right: -10px; 
    width: 110px;
    height: 100px;
    opacity: 0.3;
    border: 1px solid #dc56c5;
    border-radius: 50px 0 50px 0;
    pointer-events: none;
  }

  @media screen and (min-width: $tablet) {
    width: 180px;

    img {
      height: 225px;
    }

    &::before {
      width: 155px;
      height: 145px;
      top: -12px;
      right: -12px;
    }
  }
}

.event-title {
  color: #dc56c5;
  font-weight: 700;
  font-size: 14px;
}

.event-location {
  font-weight: 600;
  font-size: 12px;
  opacity: 0.9;
}